<a href="https://colab.research.google.com/github/Joanna910919/Introduction-to-computers/blob/main/oj%E9%A1%8C%E7%9B%AE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('0529')

0529

In [ ]:
from itertools import permutations

numbers = [1, 2, 3, 4]
combinations = list(permutations(numbers, 3))

for combo in combinations:
    combo_str = ''.join(map(str, combo))
    print(combo)

(1, 2, 3)
(1, 2, 4)
(1, 3, 2)
(1, 3, 4)
(1, 4, 2)
(1, 4, 3)
(2, 1, 3)
(2, 1, 4)
(2, 3, 1)
(2, 3, 4)
(2, 4, 1)
(2, 4, 3)
(3, 1, 2)
(3, 1, 4)
(3, 2, 1)
(3, 2, 4)
(3, 4, 1)
(3, 4, 2)
(4, 1, 2)
(4, 1, 3)
(4, 2, 1)
(4, 2, 3)
(4, 3, 1)
(4, 3, 2)

In [ ]:
from itertools import permutations

numbers = [1, 2, 3, 4]
combinations = list(permutations(numbers, 3))

for combo in combinations:
    combo_str = ' '.join(map(str, combo))
    print(combo_str)

1 2 3
1 2 4
1 3 2
1 3 4
1 4 2
1 4 3
2 1 3
2 1 4
2 3 1
2 3 4
2 4 1
2 4 3
3 1 2
3 1 4
3 2 1
3 2 4
3 4 1
3 4 2
4 1 2
4 1 3
4 2 1
4 2 3
4 3 1
4 3 2

In [ ]:
num = int(input('請輸入正整數：'))
if (num >= 0):
  if (num%2 ==0):
    print( num, 'is even')
  else:
    print( num, 'is odd')
else:
  print('Input error')

請輸入正整數：0
0 is even

In [ ]:
season = int(input('請輸入月份：'))
if (season >= 1) and (season <= 3):
  print(season, "is spring")
elif (season >= 4) and (season <= 6):
  print(season, "is summer")
elif (season >= 7) and (season <= 9):
  print(season, "is autumn")
elif (season >= 10) and (season <= 12):
  print(season, "is winter")
else:
  print("Input Error")

請輸入月份：9
9 is autumn

In [ ]:
month = int(input("請輸入月份："))

if month >= 1 and month <= 12:
    if month >= 1 and month <= 3:
        print(season, "is spring")
    elif month >= 4 and month <= 6:
        print(season, "is summer")
    elif month >= 7 and month <= 9:
        print(season, "is autumn")
    else:
        print(season, "is winter")
else:
    print("Input Error")

請輸入月份：90
Input Error

In [ ]:
KG = float(input('請輸入體重：'))
M = float(input('請輸入身高：'))
BMI = KG/(M/100)**2
print('{:.2f}'.format(BMI))

請輸入體重：80
請輸入身高：180
24.69

In [ ]:
height = 176  # 身高（公分）
weight = 75   # 體重（公斤）

# 轉換身高單位為公尺
height_in_meter = height / 100

# 計算BMI
bmi = weight / (height_in_meter ** 2)

# 格式化BMI結果，保留兩位小數
formatted_bmi = "{:.2f}".format(bmi)

print("BMI:", formatted_bmi)

BMI: 24.21

In [ ]:
number = input("請輸入一個正整數：")

# 檢查使用者輸入是否為正整數
if not number.isdigit() or int(number) <= 0:
    print("錯誤：請輸入一個正整數！")
else:
    # 判斷奇偶性
    number = int(number)
    if number % 2 == 0:
        print(number, "是偶數。")
    else:
        print(number, "是奇數。")

請輸入一個正整數：99
99 是奇數。

In [ ]:
nums = [99, 50, 0, -10]
for num in nums:
  if (num < 0) or not isinstance(num, int):
    print('Input Error')
  else:
    if (num%2 ==0):
      print(num, 'is even')
    else:
      print(num, 'is odd')

99 is odd
50 is even
0 is even
Input Error

In [ ]:
d = int(input('請輸入公里數：'))
if (d <= 5) and (d >= 1):
    print('240 yuan')
elif (d >= 6):
  print(240+40*(d-5), 'yuan') 
else:
  print('Input Error')

請輸入公里數：10
440 yuan

In [ ]:
numbers = [99, 50, 0, -10]  # 在這裡指定多個正整數

for number in numbers:
    # 檢查數字是否為正整數
    if not isinstance(number, int) or number < 0:
        print("Input Error")
    else:
        # 判斷奇偶性
        if number % 2 == 0:
            print(number, "is even.")
        else:
            print(number, "is odd.")

99 is odd.
50 is even.
0 is even.
Input Error

In [ ]:
num = int(input('請輸入正整數：'))
if num >=0 and num % 2 ==0:
  print(num, 'is even')
elif num >= 0 and num % 2 !=0:
  print(num, 'is odd')
else:
  print('Input Error')

請輸入正整數：6
6 is even

In [ ]:
y = int(input(''))
if y >=1:
  print(100000*(1.03)**y)
else:
  print('Input Error')

5
115927.40743

In [ ]:
ns = input('')
ns_list = ns.split()

ns_list = [int(n) for n in ns_list]

min_value = ns_list[0]

for n in ns_list:
  if n < min_value:
    min_value = n 

print(min_value)

2 3 4
2

In [ ]:
numbers = input("請輸入3個整數，以空格隔開：")
numbers_list = numbers.split()  # 將使用者輸入的數字以空格分割成一個列表

# 將列表中的字串轉換為整數
numbers_list = [int(num) for num in numbers_list]

# 先假設第一個數字為最小值
min_value = numbers_list[0]

# 逐個比較找出最小值
for num in numbers_list:
    if num < min_value:
        min_value = num

print("三個數字中的最小值為：", min_value)

請輸入3個整數，以空格隔開：3 4 5
三個數字中的最小值為： 3

In [ ]:
n = int(input(''))

for i in range(1, n+1):
  if n % i == 0:
    print(i, end = ' ')

35
1 5 7 35

In [ ]:
n = int(input("請輸入一個整數："))

factors = []  # 創建一個空列表，用於存儲因數
for i in range(1, n+1):  # 從 1 到 n 遍歷每個數字
    if n % i == 0:  # 如果 n 可以整除當前數字 i，則 i 是 n 的因數
        factors.append(i)  # 將 i 加入因數列表

for factor in factors:  # 遍歷因數列表中的每個因數
    print(factor, end = ' ')  # 列印每個因數

請輸入一個整數：35
1 5 7 35

In [ ]:
n = int(input(''))
factors = []
for i in range(n, n+1):
  if n % i == 0:
    factors.append(i)

for factor in factors:
  print(factor)

In [ ]:
n = int(input(''))
total3 = 0
total7 = 0
for i in range(1, n+1):
  if i % 3 == 0:
    total3 += i 
  elif i % 7 == 0:
    total7 += i
print(total3 + total7)

25
129

In [ ]:
n = int(input(''))
total = 0

for i in range(1, n+1):
  if i % 3 == 0 or i % 7 == 0:
    total += i 

print(total)

25
129

In [ ]:
n = int(input(""))

for i in range(1, n+1):
    print('*' * i)

8
*
**
***
****
*****
******
*******
********

In [ ]:
n = int(input(''))

for i in range(1, n+1):
  for j in range(1, i+1):
    print(j, end = '')
  print()

4
1
12
123
1234

最大公因數

In [ ]:
# 從使用者輸入中獲取兩個整數
num1, num2 = input("").split()
num1 = int(num1)
num2 = int(num2)

# 計算兩個數的最大公因數
i = 1  # 初始化最大公因數為 1

# 找出較小的數字
min_num = min(num1, num2)

# 使用 for 迴圈從較小值開始進行遞減
for i in range(min_num, 0, -1):
    if num1 % i == 0 and num2 % i == 0:
      break
print(i)

30 10
10

In [ ]:
a, b = input('').split()
a = int(a)
b = int(b)
i = 1
min_num = min(a, b)
for i in range(min_num, 0, -1):
  if a%i ==0 and b%i == 0:
    break
print(i)

30 10
10

In [ ]:
a, b = input('').split()
a = int(a)
b = int(b)

max_num = max(a, b)

for i in range(max_num, a*b+1, max_num):
  if i%a == 0 and i%b == 0:
    break
print(i)

98 99
9702

In [3]:
input_string = input("")
converted_string = ""  # 儲存轉換後的字串

for i in range(len(input_string)):
    if i % 2 == 0:  # 判斷奇偶位置
        converted_string += input_string[i].upper()  # 奇數位置轉為大寫
    else:
        converted_string += input_string[i].lower()  # 偶數位置轉為小寫

print(converted_string)

python
PyThOn

In [2]:
password = input("")
masked_password = '*' * len(password)
print(masked_password)
print("total:", len(password), sep = '')

  a a !!"";;;
*************
total:13

In [4]:
num = int(input(""))
sum_of_evens = 0

for i in range(15, num + 1):
    if i % 2 == 0:
        sum_of_evens += i

print(sum_of_evens)

20
54